.employee-spotlight {
    max-width: 400px;
    display: flex;
    border: 1px dashed gray;
    padding: 10px;
  }
  
  .employee-spotlight img {
    width: 200px;
    margin-right: 20px;
  }
  
  .employee-spotlight p {
    color: black;
  }